/*----------------------*\
  Global
\*----------------------*/

* {
  position: relative;
  box-sizing: border-box;
}

body{
  font-family: "微軟正黑體";
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
}


/*----------------------*\
  Layout
\*----------------------*/
.wrapper {
  background-color: #ccc;
  min-height: 100vh; /* viewport height */
}

/*----------------------*\
  Components
\*----------------------*/
.card {
  padding: 16px;
  background-color: #fefefe;  
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
}

/* btn */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 64px;
  border: 0;
  color: #fefefe;
  text-decoration: none;
  border-radius: 26px;

  font-family: "微軟正黑體";
  cursor: pointer;
}

.btn.btn--primary {
  background-color: #ff3B68;
}

.btn.btn--secondary {
  background-color: #333;
}

input.btn:focus {
  outline: 0;
}

/* input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
  display: inline-block;
  vertical-align: top;
  line-height: 44px;
  padding: 0 8px;
  width: 100%;
  border: solid 1px #efefef;
  background-color: #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus {
  outline: 0;
  border-color: #ff3B68;
}


/*----------------------*\
  Styles for apply
\*----------------------*/
.apply {
  max-width: 1200px;
  margin: 0 auto;
  padding: 44px 0px;
}

.apply_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.apply__subtitle {
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 32px;
}
