/*----------------------*\
  Global
\*----------------------*/

* {
  position: relative;
  box-sizing: border-box;
}

body{
  font-family: ;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
}


/*----------------------*\
  Layout
\*----------------------*/
.wrapper {
  background-color: #ccc;
  height: 100vh; /* viewport height */
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  border: solid 1px #000;
}

.col-lg-4,
.col-lg-8{
  border: solid 1px red;
}

/*----------------------*\
  Components
\*----------------------*/
.card {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
}

/*----------------------*\
  Styles for signup Card
\*----------------------*/
.signup {
  width: 960px;
  height: 640px;
}

.signup .row {
  height: 100%;
}

.signup__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signup__welcome {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup__welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#3AA9AC, #4CBF9A);
  opacity: 0.9;
}