/*----------------------*\
  Global
\*----------------------*/

* {
  position: relative;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
}


/*----------------------*\
  Layout
\*----------------------*/
.wrapper {
  background-color: #ccc;
  height: 100vh; /* viewport height */
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  border: solid 1px #000;
}

.col-lg-4,
.col-lg-8{
  border: solid 1px red;
}

/*----------------------*\
  Components
\*----------------------*/
.card {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 64px;
  border: 2px solid #fefefe;
  color: #fefefe;
  text-decoration: none;
  border-radius: 26px;
  /* cursor: pointer; */

  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.btn--primary {
  background-color: #38B591;
  border: 2px solid #38B591;
  color: #fefefe;
}

.btn.btn--secondary {  
  border: 2px solid #fefefe;
  color: #fefefe;
}

/*----------------------*\
  Styles for signup Card
\*----------------------*/
/* common */
.signup {
  width: 960px;
  height: 640px;
}

.signup .row {
  height: 100%;
}

.signup__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signup__title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.signup__para {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.signup__para--sm {
  font-size: 14px;
}

/* welcome */
.signup__welcome {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup__welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#3AA9AC, #4CBF9A);
  opacity: 0.9;
}

.signup__welcome .signup__title,
.signup__welcome .signup__para {
  color: #fefefe;
}

/* form */
.signup__form {
  background-color: #fefefe;
}
.signup__form .signup__title {
  color: #38B591;
}
.signup__form .signup__para {
  color: #666;
}